{% extends 'base.html.twig' %}

{% block title %}Hello AvanzamentoController!{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Ordine</th>
            <th scope="col">Timestamp</th>
            <th scope="col">Fase</th>
            <th scope="col">Operatore</th>
            <th scope="col">Fine</th>
            <th scope="col">Secondi</th>
        </tr>
        </thead>
        <tbody>
        {% for step in steps %}
            <tr>
                <th scope="row">{{ step.numeroOrdine }}_{{ step.lottoOrdine }}</th>
                <td>{{ step.timestamp | date('d.m.y H:i:s')}}</td>
                <td>{{ step.codiceFase.descrizione }}
                    {% if step.codiceFase.codiceFase == 'V2' and not step.inizioFine %}
                        : {{ step.bilancelle }} bilancelle
                    {% endif %}
                    {% if step.carrello != '' %}
                        [{{ step.carrello }}]
                    {% endif %}

                </td>
                <td>{{ step.codiceOperatore }}</td>
                <td>{% if step.inizioFine  %}<i class="fas fa-check"></i>
                    {% else %}<i class="fas fa-spinner rotating"></i>
                    {% endif %}</td>
                <td>{{ step.secondi }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(steps) }}
    </div>
{% endblock %}
